@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  justify-content: center;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.navbar-itm {
  transition: ease-out 0.4s;
  outline: none;
  padding: 0 5px;
}

.navbar-itm:hover {
  box-shadow: inset 0 200px 0 0 blue;
  cursor: pointer;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* .classes {
  background-image: url("/gymfloor.png");
  background-repeat: no-repeat;
  background-size: cover;
} */

#menu-dropdown {
  background-color: rgb(38, 38, 38);
  color: white;

}

.menuItem-hover {
  background-color: blue;
  transition-property: all;
  transition-duration: 300ms;
  transition-delay: 100ms;
}

#navbar {
  position: sticky;
  top: 0;
  z-index: 99;
}

/* Pricing.jsx start */
.gold-box, .silver-box, .sport-box, .junior-box, .recovery-box {
  transition: ease-out 0.3s;
}

.gold-box:hover {
  box-shadow: inset 0 -500px 0 0 #f59e0b;
  color:#ffffff;
  transform: translateY(-30px);
}

.silver-box:hover {
  box-shadow: inset 0 -500px 0 0 #6b7280;
  color:#ffffff;
  transform: translateY(-30px);
}

.sport-box:hover {
  box-shadow: inset 0 -500px 0 0 #ef4444;
  color:#ffffff;
  transform: translateY(-30px);
}

.junior-box:hover {
  box-shadow: inset 0 -500px 0 0 #047857;
  color:#ffffff;
  transform: translateY(-30px);
}

.recovery-box:hover {
  box-shadow: inset 0 -500px 0 0 #6d28d9;
  color:#ffffff;
  transform: translateY(-30px);
}
/* Pricing.jsx end */

@font-face {
  font-family: 'BuiltTitling';
  src: local('BuiltTitling'),url(./fonts/Built-Titling.otf) format('opentype');
}

@font-face {
  font-family: 'Lato';
  src: local('Lato'),url(./fonts/Lato-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Staatliches';
  src: local('Staatliches'),url(./fonts/Staatliches-Regular.ttf) format('truetype');
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

